Repository y0014984/Advanced-Equipment, pull requests merged in 2022-12, with the labels that each got.

#264 Critical bug fix for config parsing
  addons/interaction/functions/fnc_compileEquipment.sqf
  addons/power/functions/fnc_compileDevice.sqf
Labels: bug, power, interaction

#260 split texture variants into separate classes
  addons/armaos/CfgVehicles.hpp
  addons/interaction/CfgVehicles.hpp
  addons/network/CfgVehicles.hpp
  addons/power/CfgVehicles.hpp
Labels: bug, texture, interaction, asset

#262 changed history to user dependent history
  addons/armaos/functions/fnc_os_history.sqf
  addons/armaos/functions/fnc_shell_process.sqf
  addons/armaos/functions/fnc_shell_validatePassword.sqf
  addons/armaos/functions/fnc_terminal_addToHistory.sqf
  addons/armaos/functions/fnc_terminal_init.sqf
  addons/armaos/functions/fnc_terminal_setCommandLineByHistory.sqf
Labels: bug, enhancement, armaOS

#256 Fixed exception handling for createFile and createDir function calls
  addons/armaos/functions/fnc_module_addUser.sqf
  addons/filesystem/functions/fnc_initFilesystem.sqf
  addons/filesystem/functions/fnc_moduleAddDir.sqf
  addons/filesystem/functions/fnc_moduleAddFile.sqf
Labels: bug, armaOS, filesystem, module

#287 Change default IP address for routers
  addons/network/functions/fnc_connect_isCyclic.sqf
  addons/network/functions/fnc_initRouter.sqf
Labels: bug, enhancement, network

#294 Fixed armaOS use delay
  addons/armaos/functions/fnc_computer_playSoundStart.sqf
Labels: bug, armaOS, interaction

#293 Disable empty login string in debug mode and apply filter
  addons/armaos/functions/fnc_shell_findLoginUser.sqf
  addons/armaos/stringtable.xml
Labels: bug, enhancement, armaOS

#226 French keyboard layout
  addons/armaos/XEH_PREP.hpp
  addons/armaos/XEH_preInit.sqf
  addons/armaos/functions/fnc_terminal_getAllowedKeysFR.sqf
  addons/armaos/functions/fnc_terminal_setKeyboardLayout.sqf
  addons/armaos/functions/fnc_terminal_switchKeyboardLayout.sqf
Labels: armaOS, terminal, localization

#298 armaOS accessable while sitting on chair
  addons/armaos/CfgVehicles.hpp
  addons/interaction/functions/fnc_initLaptop.sqf
Labels: enhancement, armaOS, interaction
