Repository y0014984/Advanced-Equipment, pull requests merged in 2022-11, with the labels that each got.

#185 Network improvements
  addons/armaos/CfgVehicles.hpp
  addons/armaos/functions/fnc_computer_turnOff.sqf
  addons/armaos/functions/fnc_link_init.sqf
  addons/armaos/functions/fnc_module_addUser.sqf
  addons/armaos/functions/fnc_os_cd.sqf
  addons/armaos/functions/fnc_os_mv.sqf
  addons/armaos/functions/fnc_os_rm.sqf
  addons/armaos/functions/fnc_shell_process.sqf
  addons/armaos/functions/fnc_shell_validatePassword.sqf
  addons/armaos/functions/fnc_terminal_addEventHandler.sqf
  addons/armaos/functions/fnc_terminal_init.sqf
  addons/armaos/readme.md
  addons/filesystem/functions/fnc_initFilesystem.sqf
  addons/filesystem/functions/fnc_moduleAddFile.sqf
  addons/interaction/functions/fnc_initInteraction.sqf
  addons/interaction/readme.md
  addons/main/XEH_PREP.hpp
  addons/main/functions/fnc_getRemoteVar.sqf
  addons/main/functions/fnc_replace.sqf
  addons/main/functions/fnc_sendVarToRemote.sqf
  addons/power/functions/fnc_addProviderHandler.sqf
  addons/power/functions/fnc_batteryCalculation.sqf
  addons/power/functions/fnc_checkBatteryLevelAction.sqf
  addons/power/functions/fnc_checkPowerGenAction.sqf
  addons/power/functions/fnc_fuelConsumption.sqf
  addons/power/functions/fnc_initBattery.sqf
  addons/power/functions/fnc_initConsumer.sqf
  addons/power/functions/fnc_initDevice.sqf
  addons/power/functions/fnc_initGenerator.sqf
  addons/power/functions/fnc_initSolarPanel.sqf
  addons/power/functions/fnc_removeProviderHandler.sqf
  addons/power/functions/fnc_turnOffSolarAction.sqf
  addons/power/functions/fnc_updatePower.sqf
  addons/power/functions/fnc_updateSelfPower.sqf
  addons/power/readme.md
Labels: enhancement

#191 Fixes for the latest variable networking update
  addons/main/functions/fnc_getRemoteVar.sqf
  addons/main/functions/fnc_replace.sqf
  addons/power/functions/fnc_updatePower.sqf
  addons/power/functions/fnc_updateSelfPower.sqf
Labels: bug

#204 Standby fix
  addons/armaos/functions/fnc_computer_standby.sqf
  addons/armaos/functions/fnc_os_exit.sqf
  addons/armaos/functions/fnc_os_standby.sqf
Labels: bug, armaOS

#184 Add battery symbol to terminal interface
  addons/armaos/XEH_PREP.hpp
  addons/armaos/dialog.hpp
  addons/armaos/functions/fnc_terminal_addEventHandler.sqf
  addons/armaos/functions/fnc_terminal_init.sqf
  addons/armaos/functions/fnc_terminal_updateBatteryStatus.sqf
  addons/armaos/images/AE3_battery_0_percent.paa
  addons/armaos/images/AE3_battery_100_percent.paa
  addons/armaos/images/AE3_battery_25_percent.paa
  addons/armaos/images/AE3_battery_50_percent.paa
  addons/armaos/images/AE3_battery_75_percent.paa
  addons/power/XEH_PREP.hpp
  addons/power/functions/fnc_checkBatteryLevelAction.sqf
  addons/power/functions/fnc_getBatteryLevel.sqf
  design/AE3_battery.afdesign
  design/AE3_battery_0_percent.paa
  design/AE3_battery_0_percent.png
  design/AE3_battery_100_percent.paa
  design/AE3_battery_100_percent.png
  design/AE3_battery_25_percent.paa
  design/AE3_battery_25_percent.png
  design/AE3_battery_50_percent.paa
  design/AE3_battery_50_percent.png
  design/AE3_battery_75_percent.paa
  design/AE3_battery_75_percent.png
Labels: enhancement, armaOS

#187 added/changed CBA-settings
  addons/armaos/XEH_preInit.sqf
  addons/armaos/functions/fnc_computer_turnOff.sqf
  addons/armaos/functions/fnc_computer_turnOn.sqf
  addons/armaos/functions/fnc_shell_findLoginUser.sqf
  addons/armaos/functions/fnc_shell_validatePassword.sqf
  addons/armaos/functions/fnc_terminal_addEventHandler.sqf
  addons/armaos/functions/fnc_terminal_init.sqf
  addons/armaos/functions/fnc_terminal_setKeyboardLayout.sqf
  addons/main/XEH_PREP.hpp
  addons/main/XEH_preInit.sqf
  addons/main/functions/fnc_manageDebugMode.sqf
Labels: enhancement, armaOS, debug

#199 added space char output via modifiers
  addons/armaos/functions/fnc_terminal_getAllowedKeysDE.sqf
  addons/armaos/functions/fnc_terminal_getAllowedKeysUS.sqf
Labels: enhancement, armaOS, terminal

#202 Functions for creating directories
  addons/armaos/CfgOsFunctions.hpp
  addons/armaos/XEH_PREP.hpp
  addons/armaos/functions/fnc_os_mkdir.sqf
  addons/filesystem/CfgVehicles.hpp
  addons/filesystem/XEH_PREP.hpp
  addons/filesystem/functions/fnc_createFile.sqf
  addons/filesystem/functions/fnc_moduleAddDir.sqf
  addons/filesystem/functions/fnc_moduleAddFile.sqf
  addons/filesystem/ui/AE3_Module_Icons_addDir.paa
  design/AE3_Module_Icons.afdesign
  design/AE3_Module_Icons_addDir.paa
  design/AE3_Module_Icons_addDir.png
Labels: enhancement, armaOS

#188 armaOS command changes and additions
  addons/armaos/CfgOsFunctions.hpp
  addons/armaos/XEH_PREP.hpp
  addons/armaos/functions/fnc_encryption_caesar.sqf
  addons/armaos/functions/fnc_os_cat.sqf
  addons/armaos/functions/fnc_os_cd.sqf
  addons/armaos/functions/fnc_os_clear.sqf
  addons/armaos/functions/fnc_os_crack.sqf
  addons/armaos/functions/fnc_os_crypto.sqf
  addons/armaos/functions/fnc_os_date.sqf
  addons/armaos/functions/fnc_os_echo.sqf
  addons/armaos/functions/fnc_os_exit.sqf
  addons/armaos/functions/fnc_os_find.sqf
  addons/armaos/functions/fnc_os_help.sqf
  addons/armaos/functions/fnc_os_history.sqf
  addons/armaos/functions/fnc_os_ipconfig.sqf
  addons/armaos/functions/fnc_os_ls.sqf
  addons/armaos/functions/fnc_os_man.sqf
  addons/armaos/functions/fnc_os_mv.sqf
  addons/armaos/functions/fnc_os_ping.sqf
  addons/armaos/functions/fnc_os_rm.sqf
  addons/armaos/functions/fnc_os_shutdown.sqf
  addons/armaos/functions/fnc_os_standby.sqf
  addons/armaos/functions/fnc_os_whoami.sqf
  addons/armaos/functions/fnc_shell_findLoginUser.sqf
  addons/armaos/functions/fnc_shell_validatePassword.sqf
  addons/armaos/functions/fnc_shell_writeToLogfile.sqf
  addons/filesystem/CfgFilesystemObjects.hpp
  addons/filesystem/XEH_PREP.hpp
  addons/filesystem/config.cpp
  addons/filesystem/functions/fnc_findFilesystemObject.sqf
  addons/filesystem/functions/fnc_getParentDir.sqf
  addons/filesystem/functions/fnc_initFilesystem.sqf
  addons/filesystem/functions/fnc_writeToFile.sqf
Labels: bug, documentation, enhancement, armaOS

#203 Debug Overlay
  addons/main/XEH_PREP.hpp
  addons/main/functions/fnc_getRemoteVar.sqf
  addons/main/functions/fnc_initDebugOverlay.sqf
  addons/main/functions/fnc_killDebugOverlay.sqf
  addons/main/functions/fnc_manageDebugMode.sqf
  addons/network/functions/fnc_initNetworkDevice.sqf
  addons/network/functions/fnc_initRouter.sqf
  addons/power/XEH_PREP.hpp
  addons/power/functions/fnc_checkBatteryLevelAction.sqf
  addons/power/functions/fnc_checkFuelLevelAction.sqf
  addons/power/functions/fnc_checkPowerGenAction.sqf
  addons/power/functions/fnc_checkPowerOutputAction.sqf
  addons/power/functions/fnc_checkPowerStateAction.sqf
  addons/power/functions/fnc_compileDevice.sqf
  addons/power/functions/fnc_getBatteryLevel.sqf
  addons/power/functions/fnc_getFuelLevel.sqf
  addons/power/functions/fnc_getPowerOutput.sqf
  addons/power/functions/fnc_getPowerState.sqf
  addons/power/functions/fnc_initGenerator.sqf
  addons/power/functions/fnc_initPowerInterface.sqf
  addons/power/functions/fnc_initSolarPanel.sqf
Labels: enhancement, power, debug, network

#208 fixed a bug with 'exit' command and standby
  addons/armaos/functions/fnc_os_exit.sqf
  addons/armaos/functions/fnc_terminal_init.sqf
Labels: bug, armaOS

#217 Armaos terminal renderpipeline rework
  addons/armaos/XEH_PREP.hpp
  addons/armaos/functions/fnc_os_clear.sqf
  addons/armaos/functions/fnc_os_exit.sqf
  addons/armaos/functions/fnc_shell_findLoginUser.sqf
  addons/armaos/functions/fnc_shell_process.sqf
  addons/armaos/functions/fnc_shell_validatePassword.sqf
  addons/armaos/functions/fnc_terminal_addCharToInput.sqf
  addons/armaos/functions/fnc_terminal_addEventHandler.sqf
  addons/armaos/functions/fnc_terminal_addLines.sqf
  addons/armaos/functions/fnc_terminal_appendLine.sqf
  addons/armaos/functions/fnc_terminal_getAllowedKeysDE.sqf
  addons/armaos/functions/fnc_terminal_getAllowedKeysUS.sqf
  addons/armaos/functions/fnc_terminal_getHeaderText.sqf
  addons/armaos/functions/fnc_terminal_getInput.sqf
  addons/armaos/functions/fnc_terminal_init.sqf
  addons/armaos/functions/fnc_terminal_reRenderBuffer.sqf
  addons/armaos/functions/fnc_terminal_removeCharFromInput.sqf
  addons/armaos/functions/fnc_terminal_renderLine.sqf
  addons/armaos/functions/fnc_terminal_setCommandLineByHistory.sqf
  addons/armaos/functions/fnc_terminal_setPrompt.sqf
  addons/armaos/functions/fnc_terminal_shiftInputBuffer.sqf
  addons/armaos/functions/fnc_terminal_updateBufferVisable.sqf
  addons/armaos/functions/fnc_terminal_updateOutput.sqf
  addons/filesystem/functions/fnc_lsdir.sqf
Labels: armaOS

#227 Localization (CHS) change
  addons/armaos/stringtable.xml
  addons/main/stringtable.xml
  addons/power/stringtable.xml
Labels: localization

#228 Interaction fixes (Laptop, Desk, Single Lamp)
  addons/armaos/CfgVehicles.hpp
  addons/interaction/CfgVehicles.hpp
Labels: bug, interaction, physics

#233 Latest fixes 0.5.1
  addons/armaos/CfgVehicles.hpp
  addons/armaos/functions/fnc_computer_standby.sqf
  addons/armaos/functions/fnc_terminal_getHeaderText.sqf
  addons/armaos/stringtable.xml
  addons/main/functions/fnc_manageDebugMode.sqf
  addons/power/functions/fnc_checkPowerStateAction.sqf
Labels: bug, armaOS, power, interaction, terminal, debug, localization

#229 changed AE3 mod version to 0.5.1.0
  AUTHORS.txt
  README.md
  addons/main/script_version.hpp
  mod.cpp
Labels: version

#246 Latest fixes 0.5.1 v2
  addons/main/functions/fnc_manageDebugMode.sqf
  addons/power/XEH_PREP.hpp
  addons/power/functions/fnc_checkBatteryLevelAction.sqf
  addons/power/functions/fnc_checkPowerOutputAction.sqf
  addons/power/functions/fnc_getBatteryLevel.sqf
  addons/power/functions/fnc_getPowerOutput.sqf
Labels: bug, enhancement, debug

#253 fixed exception message on missing algorythm
  addons/armaos/functions/fnc_os_crack.sqf
Labels: bug, armaOS

#254 Armaos input fix
  README.md
  addons/armaos/functions/fnc_shell_stdin.sqf
  wiki/20221018144235_1.jpg
  wiki/20221018145217_1.jpg
Labels: bug, armaOS

#255 Fixed empty input
  addons/armaos/functions/fnc_terminal_getInput.sqf
Labels: bug, armaOS
