Repository y0014984/Advanced-Equipment, pull requests merged in 2022-10, with the labels that each got.

#149 Armaos LAN
  addons/armaos/CfgOsFunctions.hpp
  addons/armaos/CfgVehicles.hpp
  addons/armaos/functions/fnc_computer_turnOn.sqf
  addons/armaos/functions/fnc_os_ipconfig.sqf
  addons/armaos/functions/fnc_os_ping.sqf
  addons/network/CfgVehicles.hpp
  addons/network/XEH_PREP.hpp
  addons/network/functions/fnc_connectToRouterAction.sqf
  addons/network/functions/fnc_connect_device2router.sqf
  addons/network/functions/fnc_connect_isCyclic.sqf
  addons/network/functions/fnc_connect_router2router.sqf
  addons/network/functions/fnc_dhcp_get.sqf
  addons/network/functions/fnc_dhcp_onTurnOn.sqf
  addons/network/functions/fnc_dhcp_refresh.sqf
  addons/network/functions/fnc_disconnect.sqf
  addons/network/functions/fnc_disconnectFromRouterAction.sqf
  addons/network/functions/fnc_initNetworkDevice.sqf
  addons/network/functions/fnc_initRouter.sqf
  addons/network/functions/fnc_ip2str.sqf
  addons/network/functions/fnc_ping.sqf
Labels: armaOS

#150 Armaos stdout stdin
  addons/armaos/XEH_PREP.hpp
  addons/armaos/functions/fnc_computer_turnOff.sqf
  addons/armaos/functions/fnc_os_cd.sqf
  addons/armaos/functions/fnc_os_date.sqf
  addons/armaos/functions/fnc_os_help.sqf
  addons/armaos/functions/fnc_os_history.sqf
  addons/armaos/functions/fnc_os_ipconfig.sqf
  addons/armaos/functions/fnc_os_logout.sqf
  addons/armaos/functions/fnc_os_ls.sqf
  addons/armaos/functions/fnc_os_man.sqf
  addons/armaos/functions/fnc_os_mv.sqf
  addons/armaos/functions/fnc_os_ping.sqf
  addons/armaos/functions/fnc_os_print.sqf
  addons/armaos/functions/fnc_os_rm.sqf
  addons/armaos/functions/fnc_os_shutdown.sqf
  addons/armaos/functions/fnc_os_standby.sqf
  addons/armaos/functions/fnc_os_whoami.sqf
  addons/armaos/functions/fnc_shell_executeFile.sqf
  addons/armaos/functions/fnc_shell_process.sqf
  addons/armaos/functions/fnc_shell_stdin.sqf
  addons/armaos/functions/fnc_shell_stdout.sqf
  addons/armaos/functions/fnc_shell_validatePassword.sqf
  addons/armaos/functions/fnc_terminal_addCharToInput.sqf
  addons/armaos/functions/fnc_terminal_addEventHandler.sqf
  addons/armaos/functions/fnc_terminal_init.sqf
  addons/armaos/functions/fnc_terminal_removeCharFromInput.sqf
  addons/armaos/functions/fnc_terminal_setInputMode.sqf
Labels: armaOS

#153 changed copyright text
  .hemtt/base.toml
  AUTHORS.txt
  LICENSE.md
  addons/armaos/config.cpp
  addons/armaos/dialog.hpp
  addons/armaos/functions/fnc_terminal_getHeaderText.sqf
  addons/filesystem/config.cpp
  addons/interaction/config.cpp
  addons/main/config.cpp
  addons/network/config.cpp
  addons/power/config.cpp
  design/Laptop_4_to_3.afdesign
  design/Laptop_4_to_3_On.paa
  design/Laptop_4_to_3_On.png
  design/_old_variants/Laptop_4_to_3_On.png
  mod.cpp
Labels: armaOS, legal

#157 Fixed battery charge update on dedicated
  addons/power/functions/fnc_addProviderHandler.sqf
  addons/power/functions/fnc_updatePower.sqf
Labels: bug, power

#161 Generator Fixes
  addons/main/XEH_PREP.hpp
  addons/main/functions/fnc_replace.sqf
  addons/main/init/initLaptop.sqf
  addons/main/init/initRouter.sqf
  addons/power/CfgVehicles.hpp
  addons/power/functions/fnc_checkFuelLevelAction.sqf
  addons/power/functions/fnc_fuelConsumption.sqf
  addons/power/functions/fnc_playGeneratorStartSound.sqf
  addons/power/functions/fnc_playGeneratorStopSound.sqf
  addons/power/functions/fnc_turnOffGeneratorAction.sqf
  addons/power/functions/fnc_turnOnGeneratorAction.sqf
Labels: bug, power

#164 Module icons for addUser and addFile
  addons/armaos/CfgVehicles.hpp
  addons/armaos/textures/Laptop_4_to_3_On.paa
  addons/armaos/textures/Laptop_4_to_3_On.png
  addons/armaos/ui/AE3_Module_Icons_addUser.paa
  addons/armaos/ui/AE3_Module_Icons_addUser.png
  addons/filesystem/CfgVehicles.hpp
  addons/filesystem/ui/AE3_Module_Icons_addFile.paa
  addons/filesystem/ui/AE3_Module_Icons_addFile.png
  design/AE3_Module_Icons.afdesign
  design/AE3_Module_Icons_addFile.paa
  design/AE3_Module_Icons_addFile.png
  design/AE3_Module_Icons_addUser.paa
  design/AE3_Module_Icons_addUser.png
  design/Laptop_4_to_3_On.paa
  design/Laptop_4_to_3_On.png
Labels: enhancement, ui

#165 changed version 0.2.0 to 0.5.0
  addons/main/script_version.hpp
  mod.cpp
Labels: version
