Repository y0014984/Advanced-Equipment, pull requests merged in 2023-01, with the labels that each got.

#261 Init-fuel-battery-levels
  addons/armaos/CfgVehicles.hpp
  addons/main/Cfg3DEN.hpp
  addons/main/stringtable.xml
  addons/power/CfgVehicles.hpp
  addons/power/XEH_PREP.hpp
  addons/power/functions/fnc_initBattery.sqf
  addons/power/functions/fnc_initBatteryLevelWithEdenAttribute.sqf
  addons/power/functions/fnc_initFuelLevelWithEdenAttribute.sqf
  addons/power/functions/fnc_initGenerator.sqf
Labels: bug, enhancement, power, editor

#290 Turn on/off progress bar cancellation for generator and solar panel
  addons/power/functions/fnc_turnOffGeneratorAction.sqf
  addons/power/functions/fnc_turnOffSolarAction.sqf
  addons/power/functions/fnc_turnOnGeneratorAction.sqf
  addons/power/functions/fnc_turnOnSolarAction.sqf
Labels: bug, power, interaction

#295 3DEN Editor custom power and network connections
  addons/main/Cfg3DEN.hpp
  addons/main/XEH_PREP.hpp
  addons/main/functions/fnc_3denEventHandlers_onConnectionEnd.sqf
  addons/main/functions/fnc_3den_checkConnection.sqf
  addons/main/functions/fnc_3den_doNetworkConnection.sqf
  addons/main/functions/fnc_3den_doPowerConnection.sqf
  addons/power/functions/fnc_compileDevice.sqf
Labels: power, interaction, network, editor

#297 Terminal Redesign
  addons/armaos/XEH_PREP.hpp
  addons/armaos/XEH_preInit.sqf
  addons/armaos/dialog.hpp
  addons/armaos/functions/fnc_computer_turnOff.sqf
  addons/armaos/functions/fnc_terminal_addEventHandler.sqf
  addons/armaos/functions/fnc_terminal_init.sqf
  addons/armaos/functions/fnc_terminal_setKeyboardLayout.sqf
  addons/armaos/functions/fnc_terminal_setTerminalDesign.sqf
  addons/armaos/functions/fnc_terminal_switchTerminalDesign.sqf
  addons/armaos/functions/fnc_terminal_updateBatteryStatus.sqf
  addons/armaos/images/AE3_bucket.paa
  addons/armaos/images/AE3_close.paa
  addons/armaos/stringtable.xml
  addons/armaos/textures/Laptop_4_to_3_Booting_0.paa
  addons/armaos/textures/Laptop_4_to_3_Booting_1.paa
  addons/armaos/textures/Laptop_4_to_3_Booting_2.paa
  addons/armaos/textures/Laptop_4_to_3_Booting_3.paa
  addons/armaos/textures/Laptop_4_to_3_On.paa
  addons/armaos/textures/Laptop_4_to_3_Shutting_Down_0.paa
  addons/armaos/textures/Laptop_4_to_3_Shutting_Down_1.paa
  addons/armaos/textures/Laptop_4_to_3_Shutting_Down_2.paa
  addons/armaos/textures/Laptop_4_to_3_Shutting_Down_3.paa
  addons/armaos/textures/Laptop_4_to_3_Standby.paa
  design/AE3_battery.afdesign
  design/AE3_bucket.afdesign
  design/AE3_bucket.paa
  design/AE3_bucket.png
  design/AE3_close.afdesign
  design/AE3_close.paa
  design/AE3_close.png
  design/EtelkaMonospacePro.otf
  design/EtelkaMonospaceProBold.otf
  design/Laptop_4_to_3.afdesign
  design/Laptop_4_to_3_Booting_0.paa
  design/Laptop_4_to_3_Booting_0.png
  design/Laptop_4_to_3_Booting_1.paa
  design/Laptop_4_to_3_Booting_1.png
  design/Laptop_4_to_3_Booting_2.paa
  design/Laptop_4_to_3_Booting_2.png
  design/Laptop_4_to_3_Booting_3.paa
  design/Laptop_4_to_3_Booting_3.png
  design/Laptop_4_to_3_On.paa
  design/Laptop_4_to_3_On.png
  design/Laptop_4_to_3_Shutting_Down_0.paa
  design/Laptop_4_to_3_Shutting_Down_0.png
  design/Laptop_4_to_3_Shutting_Down_1.paa
  design/Laptop_4_to_3_Shutting_Down_1.png
  design/Laptop_4_to_3_Shutting_Down_2.paa
  design/Laptop_4_to_3_Shutting_Down_2.png
  design/Laptop_4_to_3_Shutting_Down_3.paa
  design/Laptop_4_to_3_Shutting_Down_3.png
  design/Laptop_4_to_3_Standby.paa
  design/Laptop_4_to_3_Standby.png
Labels: enhancement, armaOS, terminal, design

#265 Parsing command arguments with a getOpts function
  addons/armaos/XEH_PREP.hpp
  addons/armaos/functions/fnc_computer_standby.sqf
  addons/armaos/functions/fnc_os_cat.sqf
  addons/armaos/functions/fnc_os_cd.sqf
  addons/armaos/functions/fnc_os_clear.sqf
  addons/armaos/functions/fnc_os_crack.sqf
  addons/armaos/functions/fnc_os_crypto.sqf
  addons/armaos/functions/fnc_os_date.sqf
  addons/armaos/functions/fnc_os_echo.sqf
  addons/armaos/functions/fnc_os_exit.sqf
  addons/armaos/functions/fnc_os_find.sqf
  addons/armaos/functions/fnc_os_help.sqf
  addons/armaos/functions/fnc_os_history.sqf
  addons/armaos/functions/fnc_os_ipconfig.sqf
  addons/armaos/functions/fnc_os_ls.sqf
  addons/armaos/functions/fnc_os_man.sqf
  addons/armaos/functions/fnc_os_mkdir.sqf
  addons/armaos/functions/fnc_os_mv.sqf
  addons/armaos/functions/fnc_os_ping.sqf
  addons/armaos/functions/fnc_os_rm.sqf
  addons/armaos/functions/fnc_os_shutdown.sqf
  addons/armaos/functions/fnc_os_standby.sqf
  addons/armaos/functions/fnc_os_whoami.sqf
  addons/armaos/functions/fnc_shell_executeFile.sqf
  addons/armaos/functions/fnc_shell_getOpts.sqf
  addons/armaos/functions/fnc_shell_getOptsConvertArgType.sqf
  addons/armaos/functions/fnc_shell_getOptsCreateSearchArray.sqf
  addons/armaos/functions/fnc_shell_getOptsFormatOptsName.sqf
  addons/armaos/functions/fnc_shell_getOptsParseLongForm.sqf
  addons/armaos/functions/fnc_shell_getOptsParseShortForm.sqf
  addons/armaos/functions/fnc_shell_getOptsPrintHelp.sqf
  addons/armaos/functions/fnc_shell_getOptsSplitOptionArgument.sqf
  addons/filesystem/XEH_PREP.hpp
  addons/filesystem/functions/fnc_fsObjExists.sqf
Labels: enhancement, armaOS

#304 Armaos flash drive
  addons/armaos/CfgOsFunctions.hpp
  addons/armaos/CfgVehicles.hpp
  addons/armaos/XEH_PREP.hpp
  addons/armaos/functions/fnc_computer_getLocality.sqf
  addons/armaos/functions/fnc_os_chown.sqf
  addons/armaos/functions/fnc_os_lsusb.sqf
  addons/armaos/functions/fnc_os_mount.sqf
  addons/armaos/functions/fnc_os_unmount.sqf
  addons/armaos/functions/fnc_terminal_renderLine.sqf
  addons/armaos/stringtable.xml
  addons/filesystem/XEH_PREP.hpp
  addons/filesystem/functions/fnc_chdir.sqf
  addons/filesystem/functions/fnc_chown.sqf
  addons/filesystem/functions/fnc_initFilesystem.sqf
  addons/filesystem/functions/fnc_mount.sqf
  addons/filesystem/functions/fnc_mvObj.sqf
  addons/filesystem/functions/fnc_resolvePntr.sqf
  addons/filesystem/functions/fnc_unmount.sqf
  addons/filesystem/stringtable.xml
  addons/flashdrive/$PBOPREFIX$
  addons/flashdrive/Cfg3DEN.hpp
  addons/flashdrive/CfgEventHandlers.hpp
  addons/flashdrive/CfgVehicles.hpp
  addons/flashdrive/CfgWeapons.hpp
  addons/flashdrive/XEH_PREP.hpp
  addons/flashdrive/XEH_preInit.sqf
  addons/flashdrive/config.cpp
  addons/flashdrive/functions/fnc_compileConfig.sqf
  addons/flashdrive/functions/fnc_compileDevice.sqf
  addons/flashdrive/functions/fnc_connectFlashDrive.sqf
  addons/flashdrive/functions/fnc_disconnectFlashDrive.sqf
  addons/flashdrive/functions/fnc_initInterface.sqf
  addons/flashdrive/functions/fnc_item2obj.sqf
  addons/flashdrive/functions/fnc_lsInterfaces.sqf
  addons/flashdrive/functions/fnc_mount.sqf
  addons/flashdrive/functions/fnc_obj2item.sqf
  addons/flashdrive/functions/fnc_take.sqf
  addons/flashdrive/functions/fnc_unmount.sqf
  addons/flashdrive/script_component.hpp
  addons/flashdrive/script_item_macro.hpp
  addons/flashdrive/stringtable.xml
  addons/flashdrive/ui/AE3_flashdrive_ca.paa
  addons/main/XEH_PREP.hpp
  design/AE3_flashdrive_ca.afdesign
  design/AE3_flashdrive_ca.paa
  design/AE3_flashdrive_ca.png
Labels: armaOS, filesystem

#318 armaOS 'cp' command
  addons/armaos/CfgOsFunctions.hpp
  addons/armaos/XEH_PREP.hpp
  addons/armaos/functions/fnc_os_cp.sqf
  addons/armaos/stringtable.xml
  addons/filesystem/functions/fnc_chdir.sqf
  addons/filesystem/functions/fnc_getParentDir.sqf
  addons/filesystem/functions/fnc_mvObj.sqf
Labels: bug, enhancement, armaOS

#320 getOpts Syntax Check
  addons/armaos/XEH_PREP.hpp
  addons/armaos/functions/fnc_os_crack.sqf
  addons/armaos/functions/fnc_os_crypto.sqf
  addons/armaos/functions/fnc_os_echo.sqf
  addons/armaos/functions/fnc_os_ls.sqf
  addons/armaos/functions/fnc_shell_getOpts.sqf
  addons/armaos/functions/fnc_shell_getOptsCheckSyntax.sqf
Labels: enhancement, armaOS

#243 Interaction Restrictions
  addons/armaos/CfgVehicles.hpp
  addons/armaos/functions/fnc_computer_standby.sqf
  addons/armaos/functions/fnc_computer_turnOff.sqf
  addons/armaos/functions/fnc_terminal_addEventHandler.sqf
  addons/armaos/functions/fnc_terminal_init.sqf
  addons/interaction/CfgVehicles.hpp
  addons/interaction/XEH_PREP.hpp
  addons/interaction/functions/fnc_compileConfig.sqf
  addons/interaction/functions/fnc_compileEquipment.sqf
  addons/interaction/functions/fnc_desk_close.sqf
  addons/interaction/functions/fnc_desk_open.sqf
  addons/interaction/functions/fnc_initAce3Interactions.sqf
  addons/interaction/functions/fnc_initAceWorkaround.sqf
  addons/interaction/functions/fnc_initDesk.sqf
  addons/interaction/functions/fnc_lamp_turnOff.sqf
  addons/interaction/functions/fnc_lamp_turnOn.sqf
  addons/interaction/functions/fnc_manageAce3Interactions.sqf
  addons/main/functions/fnc_replace.sqf
  addons/network/CfgVehicles.hpp
  addons/network/functions/fnc_connect_device2router.sqf
  addons/network/functions/fnc_connect_isCyclic.sqf
  addons/network/functions/fnc_connect_router2router.sqf
  addons/network/functions/fnc_disconnect.sqf
  addons/power/CfgVehicles.hpp
  addons/power/functions/fnc_connectToGeneratorAction.sqf
  addons/power/functions/fnc_disconnectFromGeneratorAction.sqf
  addons/power/functions/fnc_turnOffBatteryAction.sqf
  addons/power/functions/fnc_turnOffGeneratorAction.sqf
  addons/power/functions/fnc_turnOffSolarAction.sqf
  addons/power/functions/fnc_turnOnBatteryAction.sqf
  addons/power/functions/fnc_turnOnGeneratorAction.sqf
  addons/power/functions/fnc_turnOnSolarAction.sqf
Labels: power, interaction, network

#317 Retro Games using pixel based canvas (v2)
  addons/armaos/CfgGames.hpp
  addons/armaos/CfgSounds.hpp
  addons/armaos/CfgVehicles.hpp
  addons/armaos/XEH_PREP.hpp
  addons/armaos/config.cpp
  addons/armaos/dialog.hpp
  addons/armaos/functions/fnc_games_snake.sqf
  addons/armaos/functions/fnc_module_addGames.sqf
  addons/armaos/functions/fnc_retro_addEventHandler.sqf
  addons/armaos/functions/fnc_retro_createCanvas.sqf
  addons/armaos/functions/fnc_retro_getCanvasHeight.sqf
  addons/armaos/functions/fnc_retro_getCanvasWidth.sqf
  addons/armaos/functions/fnc_retro_getPixelColor.sqf
  addons/armaos/functions/fnc_retro_setPixelColor.sqf
  addons/armaos/functions/fnc_retro_showSplashScreen.sqf
  addons/armaos/images/Snake_GameOver.paa
  addons/armaos/images/Snake_Splash.paa
  addons/armaos/sounds/Blip.ogg
  addons/armaos/sounds/GameOver.ogg
  addons/armaos/sounds/SplashScreen.ogg
  addons/armaos/stringtable.xml
  addons/armaos/ui/AE3_Module_Icons_addGames.paa
  design/AE3_Module_Icons (2).afdesign
  design/AE3_Module_Icons_addGames.paa
  design/AE3_Module_Icons_addGames.png
  design/Snake.afdesign
  design/Snake_GameOver.paa
  design/Snake_GameOver.png
  design/Snake_GameOver_PreRescale.png
  design/Snake_Splash.paa
  design/Snake_Splash.png
  design/Snake_Splash_PreRescale.png
  sounds/170143__timgormly__8-bit-blip.aiff
  sounds/415096__wolderado__game-over.wav
  sounds/527650__fupicat__winsquare.wav
Labels: enhancement, armaOS, terminal

#321 Release v0.5.2
  AUTHORS.txt
  README.md
  addons/main/script_version.hpp
  mod.cpp
Labels: documentation, version
